#ul-nav li a{
    font-weight: bold;
}
.sab-menu.activ{
    display: inline;
}
/* .sab-menu{
    display: inline;
} */
.navmd.activ{
    transition: all 2s ease;
    display: block;
}
#img-time img{
    height: 300px;
}
#img-time .col-lg-4 .card{
    border: 1px solid #888;
}